
.container-image{
    display: grid;
    width: 100%;
    /* margin-top: 8px; */
    grid-template: 60px 415px 92px/ repeat(4,1fr);
    grid-template-areas: "titleCarrilImg titleCarrilImg titleCarrilImg titleCarrilImg"
                         "BigImg BigImg BigImg BigImg"
                         "SmallImg1 SmallImg2 SmallImg3 SmallImg4";
    grid-gap: 4px 4px;

}

.titleCarrilImg{
    grid-area: titleCarrilImg;
    
}

.BigImg{
    grid-area: BigImg;
    border: 1px solid rgb(149, 152, 154);
}

.SmallImg1{
    grid-area: SmallImg1;
    border: 1px solid rgb(149, 152, 154);
}

.SmallImg2{
    grid-area: SmallImg2;
}

.SmallImg3{
    grid-area: SmallImg3;
}

.SmallImg4{
    grid-area: SmallImg4;
    border: 1px solid rgb(149, 152, 154);
}

.CarrilTitle{
    color: rgb(148, 148, 148);
    font-family:  'Libre Franklin', sans-serif;
    font-size: 15px;
    font-weight: 900;
    margin-top: 4px;
    text-transform: uppercase;
}

.BigImg{
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0;
    position: relative;
}

.Big{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.SmallImg1{
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0;
    position: relative;
}

.Img1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.SmallImg2{
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0;
    position: relative;
}

.Img2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.SmallImg3{
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0;
    position: relative;
}

.Img3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.SmallImg4{
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0;
    position: relative;
}

.Img4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
/* ********************************************************************************************** */
.titleDetail{
    color: rgb(102, 102, 102);
    font-family: 'glyphicons';
    font-size: 21px;
    font-weight: 600;
    word-spacing: -16px;
    margin-top: 22px;
}

.Deatil{
    color: rgb(149, 152, 154);
    font-family:  'Libre Franklin', sans-serif;
    font-size: 19px;
    font-weight: 590;
}

.lineDetail{
    border-color: 1px solid #e8eae6;
    margin-top: -14px;
}

.product-container{

    display: grid;
    /* grid-gap: 0px 28px; */
    grid-template-columns: repeat(2,1fr);
    /* margin-top: 3rem; */
  }

.container-compra{
    display: grid;
    margin-left: 100px;
    width: 100%;
    margin-top: 8px;
    grid-template: 19px 35px 34px 33px 67px 32px 57px 59px 48px 49px/ repeat(6,58px);
    grid-template-areas: "nombreProd nombreProd nombreProd nombreProd nombreProd nombreProd"
                         "priceProd priceProd priceProd priceProd priceProd priceProd"
                         "codProd codProd codProd codProd codProd codProd"
                         "colorProd colorProd colorProd colorProd colorProd colorProd"
                         "colorImg colorImg2 colorImg3 colorImg3 colorImg3 colorImg3"
                         "tallaProd tallaProd tallaProd tallaProd tallaProd tallaProd"
                         "talla5 talla55 talla6 talla65 talla7 talla7 "
                         "talla75 talla8 talla85 talla9 talla95 talla95"
                         "guiaTalla guiaTalla guiaTalla guiaTalla guiaTalla guiaTalla"
                         "añadir añadir añadir añadir corazon corazon ";
    grid-gap: 12px 16px;
}

.colorImg2{
    grid-area: colorImg2;
}

.colorImg3{
    grid-area: colorImg3;
}
.nombreProd{
    grid-area: nombreProd;
}

.priceProd{
    grid-area: priceProd;
}

.codProd{
    grid-area: codProd;
}

.colorProd{
    grid-area: colorProd;
}

.colorImg{
    grid-area: colorImg;
    
}

.tallaProd{
    grid-area: tallaProd;
}

.talla5{
    grid-area: talla5;
    
}

.talla55{
    grid-area: talla55;
}

.talla6{
    grid-area: talla6;
}

.talla65{
    grid-area: talla65;
}

.talla7{
    grid-area: talla7;
    margin-right: 73px;
}

.talla75{
    grid-area: talla75;
    
}

.talla8{
    grid-area: talla8;
}

.talla85{
    grid-area: talla85;
}

.talla9{
    grid-area: talla9;
}

.talla95{
    grid-area: talla95;
    margin-right: 73px;
}

.guiaTalla{
    grid-area: guiaTalla;

}

.añadir{
    grid-area: añadir;
    /* border: 1px solid rgb(149, 152, 154); */
    margin-right: 20px;
    
}

.corazon{
    grid-area: corazon;
}

.titleProd{
    padding: 0;
    color: rgb(102, 102, 102);
    font-family: 'glyphicons';
    font-size: 26px;
    font-weight: 600;
    word-spacing: -16px;
    text-transform: uppercase;

}

.priceCompra{
    padding: 0;
    color: rgb(131, 86, 99);
    font-family: 'glyphicons';
    font-size: 25px;
    font-weight: 600;
}

.codProductTitle{
    color: rgb(201, 199, 204);
    font-family:  'Libre Franklin', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.titleinfo{
    padding: 0;
    color: rgb(102, 102, 102);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.colorImg{
    border: 1px solid rgb(149, 152, 154);
    background-color: #FFFFFF;
    /* margin-right: 361px; */
}

.colorImg2{
    border: 1px solid rgb(149, 152, 154);
    background-color: #FFFFFF;
    /* margin-right: 361px; */
}

.colorImg3{
    border: 1px solid rgb(149, 152, 154);
    background-color: #FFFFFF;
    margin-right: 220px;
}

.buttonAdd{
    background-color: rgb(122, 74, 88);
    border: 2px solid rgb(122, 74, 88);
    color: white;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline:0;
}

.buttonTalla{
    background-color: rgb(200, 198, 202);
    border: 2px solid rgb(200, 198, 202);
    color: rgb(51, 51, 51);
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline:0;
}

.buttonTalla:active{
    background-color: rgb(232, 232, 233);
    border: 2px solid rgb(232, 232, 233);
    transform: translateY(4px);
    color: rgb(140, 140, 141);
  } 

  .buttonTalla.selected {
    background-color: rgb(232, 232, 233);
    border: 2px solid rgb(232, 232, 233);
  }

  .tallaB{
    font-family: 'montserrat1-bold';
    font-size: 21px;
    padding: 0;
    margin: 0;
  }

  .guiaTitle{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
    text-decoration-line: underline;
    font-weight: 600;
    color: rgb(103, 103, 103);
    padding: 0;
    margin: 0;
    padding-top: 15px;
  }

  .titleAdd{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 15px;
    font-weight: 600;

  }

  .heart.icon {
    /* position: absolute; */
    color: rgb(209, 209, 208);
    background-color: rgb(209, 209, 208);
    margin-top: 20px;
    margin-left: 23px;
    width: 9px;
    height: 9px;
    border-left: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .heart.icon:before {
    color: rgb(209, 209, 208);
    background-color: rgb(209, 209, 208);
    content: '';
    position: absolute;
    top: -5px;
    left: -1px;
    width: 8px;
    height: 5px;
    border-radius: 5px 5px 0 0;
    border-top: solid 1px currentColor;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
  }
  
  .heart.icon:after {
    color: rgb(209, 209, 208);
    background-color: rgb(209, 209, 208);
    content: '';
    position: absolute;
    top: 0px;
    left: 8px;
    width: 5px;
    height: 8px;
    border-radius: 0 5px 5px 0;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
  }
  
  .colorImg{
    background-color: #FFFFFF;
    /* margin: 0px; */
    /* padding: 0; */
    /* position: relative; */
}

.Img5{
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
}

.Img6{
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
}

.Img7{
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
}

.buttonImage{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 0px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 1px solid #EEEFF2;
    cursor: pointer;
    outline:0;
}